body {
    font-family: monospace;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/paper.png");
    font-size: 62, 5%;
    color: #7f8c8d;
}

.home {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    font-size: 1.4rem;
}

a {
    color: #3498db;
}

a:hover,
a:focus {
    color: #2980b9;
}