body {
    font-family: monospace;
}

section {
    min-height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100vw;
    margin: auto;
    text-align: center;
    padding: 1rem;
    color: #838383;
}

.around {
    background: #3079AB;
}

.around .content {
    color: #fff;
}

.inside {
    background: #EDEFF0;
}

.inside .content {
    color: #4E555A;
}